@charset "utf-8";
/* Regra @charset caso tenha problema com acentuação*/
body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    background-color: maroon;
    color: goldenrod;
}
h2{
    color: darkred;
}
p{
    text-align: justify;
}